# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
backend/venv/

# Environment variables
.env
backend/.env

# Logs
*.log
backend/logs/

# Database
db.sqlite3

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db
